

body{
	background: linear-gradient(to right, #e3f2f1, #bfd4d3);
    padding: 40px;
}


.grid-container {
    display: grid; 
    /* width: auto;
    height:auto; */
    width: auto;
    height: auto;
    color: rgb(240, 240, 193);
    
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(13,12,56,1) 26%, rgba(27,27,82,1) 55%, rgba(23,117,135,1) 100%);
    border-radius: 25px;
    padding: 0px;
    box-shadow: 30px 10px 30px rgb(1, 7, 17);
    margin: 0 auto;
    
}



.btn-outline-light {
    width: 9em;
    border: none;
    /* justify-t: flex-start; */
    font-size: 14px;
}
.first-row {
    display: flex; 
    grid-template-columns: 90px auto 90px 90px;
    width: auto;
    justify-items: auto;
    height:60px;
    padding: 1px;
    flex-wrap: wrap;
    /* overflow:auto; */

    /* color: rgb(22, 156, 74); */
}


.second-row{
    display: flex; 
    grid-template-columns: 130px auto;
    height:auto;
    align-content: flex-start;
    text-align: left;
    overflow:auto;
    width: auto;
    justify-content: flex-start;
    


}

.three-row {
    display: flex;
    height: 55px;
    height: auto;
    grid-template-columns: auto;
    /* background-color: rgb(16, 12, 24); */
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 4px;
    text-align: center;
    margin: auto;
}

.nav-vertical {
    width: 16rem;


}

.contents{
    /* height: 50px; */
    background-color: rgba(95, 158, 101, 0.842);
    color: rgb(241, 222, 114);
    border-radius: 10px;
    padding: 10px;
    font-style: oblique;

    width: auto;
    height: auto;

    font-size: medium;
}

